/*Selector {Property: value}*/

.container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}

body { 
	margin: 0px;
 }


h1, img {
	/*display: inline-flex;*/
	justify-content: space-between;
	margin: 2px;

}


h1{
	/*text-align: center;*/
	font-size: 3.3em;
	border-bottom: 5px solid #293D79;
	border-right: 5px solid #293D79;
	color: #293D79;
	height: 1.1em;
	width: 4.5em;

	
	box-shadow: 4px 4px 5px #293D79;
	transition: all 1s;
}

h1:hover {
	transform: scale(1.1);
}

img {
	height: 50px;
	width: 150px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}